header {
  text-align: center;
  margin-top: 2rem;
}

input {
  border-radius: 7.5px;
  border-color: rgba($color: #0a7baf, $alpha: 1.0);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

