.App {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-top: 2rem;
}

input {
  border-radius: 7.5px;
  border-color: rgba($color: #0a7baf, $alpha: 1.0);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

.NothingToShow {
  text-align: center;
  margin-top: 10rem;
}

.Results {
  margin-top: 2rem;
}

.Profile {
  display: block;
  margin-top: 1rem;
  margin-left: 37rem;
}

.FirstLastName {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 4rem;
}

.Photos {
  height: 3rem;
  width: 3rem;
  margin-left: 3rem;
}




