.App {
  text-align: center;
}

header {
  margin-top: 1rem;
}

input {
  border-radius: 7.5px;
  border-color: rgba($color: #0a7baf, $alpha: 1.0);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}
